stream_over_http_enabled: true
server:
  http_listen_port: 3200
  log_level: info

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: "0.0.0.0:4317"
        http:
          endpoint: "0.0.0.0:4318"

storage:
  trace:
    backend: s3
    s3:
      bucket: "${TEMPO_S3_BUCKET}"
      endpoint: "${TEMPO_S3_ENDPOINT}"
      access_key: "${TEMPO_S3_ACCESS_KEY}"
      secret_key: "${TEMPO_S3_SECRET_KEY}"
      insecure: true