stream_over_http_enabled: true
server:
  http_listen_port: 3200
  log_level: info

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: "0.0.0.0:4317"
        http:
          endpoint: "0.0.0.0:4318"

storage:
  trace:
    backend: s3
    s3:
      bucket: "tempo-traces"
      endpoint: "minio:9000"
      access_key: "minioadmin"
      secret_key: "minioadmin123"
      insecure: true