[Unit]
Description=WolfServer for code execution system
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/wolf_server
Restart=always
MemoryMax=8G
User=ubuntu
WorkingDirectory=/home/ubuntu/wolf
Environment="GC=20"
Environment="GOMEMLIMIT=8589934592"
Environment="SERVICE_NAME=JOBPROCESSOR"
EnvironmentFile=/etc/default/app

[Install]
WantedBy=multi-user.target